/target
/build
/blazing-fan-firmware/target
/blazing-fan-firmware/build
.gdb_history

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# rust
rustc-ice-*.txt
